<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dosya Yükle</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>


    <div class="container p-1">
        <h1>Merhaba <b> <i> </i></b> Hoşgeldin</h1>

    </div>
    <div class="container  text-center p-1">
        <h3 class="mt-5 p-3">Dosya Yükle</h3>
        <div class="row mt-1 p-3">
            <div class="col-6  mx-auto ">




                <form method="POST" action="/example" enctype="multipart/form-data">

                    <div class="input-group mb-3">
                        <input type="file" name="image" class="form-control" id="inputGroupFile02">
                    </div>


                    <div class="input-group mb-3">
                        <input type="submit" value="Gönder" class="form-control" id="inputGroupFile02">
                    </div>
                </form>
                
                    <% if( img != 1) { %>

                        <div class="text-center mt-5 p-5">
                            <img width="300" src="images/<%=img%>" alt="">
                        </div>
                        <div class="alert alert-success"><%= message.success %></div>
                    <% } %>


            </div>
        </div>
    </div>






    <div class="container">

        <div class="row">
            <div class="col-6 mx-auto text-center p-4">

                <img width="200px" src=" " alt="">


            </div>
        </div>


    </div>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>