<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="img/fav.png">
        <title>Osahanin - Job Portal & Social Network HTML Template</title>

        <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css">

        <link href="vendor/icons/feather.css" rel="stylesheet" type="text/css">

        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
            <div class="container">
                <a class="navbar-brand mr-2" href="index.html"><img src="" alt="">
                </a>
                <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control shadow-none border-0" placeholder="Kişileri, işleri ve daha fazlasını arayın..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn" type="button">
                                <i class="feather-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto d-flex align-items-center">

                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather-search mr-2"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search people, Meslekler and more..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn" type="button">
                                            <i class="feather-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">
                            <i class="feather-briefcase mr-2"></i>
                            <span class="d-none d-lg-inline">Çıkış Yap</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Meslekler.html">
                            <i class="feather-briefcase mr-2"></i>
                            <span class="d-none d-lg-inline">Meslekler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Bağ.html">
                            <i class="feather-users mr-2"></i>
                            <span class="d-none d-lg-inline">Bağ</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-2">
                        <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather-file-text mr-2"></i>
                            <span class="d-none d-lg-inline">Dosya</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right shadow-sm">

                            
                            <a class="dropdown-item" href="Meslekler.html">
                                <i class="feather-briefcase mr-1"></i>
                                Meslekler</a>
                            <a class="dropdown-item" href="profile.html">
                                <i class="feather-user mr-1"></i>
                                Profile</a>
                            <a class="dropdown-item" href="Bağ.html">
                                <i class="feather-users mr-1"></i>
                                Bağ</a>
                            <a class="dropdown-item" href="company-profile.html">
                                <i class="feather-user-plus mr-1"></i>
                                Company Profile</a>
                            <a class="dropdown-item" href="job-profile.html">
                                <i class="feather-globe mr-1"></i>
                                Job Profile</a>
                            <a class="dropdown-item" href="messages.html">
                                <i class="feather-message-circle mr-1"></i>
                                Messages</a>
                            <a class="dropdown-item" href="notifications.html">
                                <i class="feather-bell mr-1"></i>
                                Notifications</a>
                            <a class="dropdown-item" href="not-found.html">
                                <i class="feather-alert-triangle mr-1"></i>
                                404 Not Found</a>
                            <a class="dropdown-item" href="faq.html">
                                <i class="feather-help-circle mr-1"></i>
                                FAQ</a>
                            <a class="dropdown-item" href="terms.html">
                                <i class="feather-book mr-1"></i>
                                Terms</a>
                            <a class="dropdown-item" href="privacy.html">
                                <i class="feather-list mr-1"></i>
                                Privacy</a>
                            <a class="dropdown-item" href="blog.html">
                                <i class="feather-book mr-1"></i>
                                Blog</a>
                            <a class="dropdown-item" href="blog-single.html">
                                <i class="feather-book-open mr-1"></i>
                                Blog Single</a>
                            <a class="dropdown-item" href="contact.html">
                                <i class="feather-mail mr-1"></i>
                                Contact</a>
                            <a class="dropdown-item" href="pricing.html">
                                <i class="feather-credit-card mr-1"></i>
                                Pricing</a>
                            <a class="dropdown-item" href="maintence.html">
                                <i class="feather-clock mr-1"></i>
                                Maintence</a>
                            <a class="dropdown-item" href="coming-soon.html">
                                <i class="feather-cloud mr-1"></i>
                                Coming Soon</a>
                            <a class="dropdown-item" href="components.html">
                                <i class="feather-list mr-1"></i>
                                Components</a>
                            <a class="dropdown-item" href="sign-in.html">
                                <i class="feather-log-in mr-1"></i>
                                Sign In</a>
                            <a class="dropdown-item" href="sign-up.html">
                                <i class="feather-lock mr-1"></i>
                                Sign Up</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather-message-square"></i>

                            <span class="badge badge-danger badge-counter">8</span>
                        </a>

                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="messages.html">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/p13.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold overflow-hidden">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="messages.html">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/p13.png" alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div class="overflow-hidden">
                                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="messages.html">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/p13.png" alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div class="overflow-hidden">
                                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="messages.html">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/p13.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="overflow-hidden">
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="messages.html">Read More Messages</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather-bell"></i>

                            <span class="badge badge-info badge-counter">6</span>
                        </a>

                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="notifications.html">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="feather-download-cloud text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="notifications.html">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="feather-edit text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="notifications.html">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="feather-folder text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="notifications.html">Show All Alerts</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                        <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-profile rounded-circle" src="img/p13.png">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                            <div class="p-3 d-flex align-items-center">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/p13.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hakan TAŞ</div>
                                    <div class="small text-gray-500">UI/UX Designer</div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="profile.html">
                                <i class="feather-edit mr-1"></i>
                                My Account</a>
                            <a class="dropdown-item" href="edit-profile.html">
                                <i class="feather-user mr-1"></i>
                                Edit Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="sign-in.html">
                                <i class="feather-log-out mr-1"></i>
                                Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="py-4">
            <div class="container">
                <div class="row">

                    <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                        <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                            <ul class="nav nav-justified border-bottom osahan-line-tab" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                        <i class="feather-edit"></i>
                                        Paylaş veya Yükle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                        <i class="feather-image"></i>
                                        Fotoğraf Yükle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="feather-clipboard"></i>
                                        Makale Yaz</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="p-3 d-flex align-items-center w-100" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="img/p13.png" alt="">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="w-100">
                                            <textarea placeholder="Düşüncelerinizi yazın..." class="form-control border-0 p-0 shadow-none" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="p-3 w-100">
                                        <textarea placeholder="Write your thoughts..." class="form-control border-0 p-0 shadow-none" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="p-3 w-100">
                                        <textarea placeholder="Write an article..." class="form-control border-0 p-0 shadow-none" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top p-3 d-flex align-items-center">
                                <div class="mr-auto">
                                    <a href="#" class="text-link small">
                                        <i class="feather-map-pin"></i>
                                        Konum</a>
                                </div>
                                <div class="flex-shrink-1">
                                    <button type="button" class="btn btn-light btn-sm">Önizleme</button>
                                    <button type="button" class="btn btn-primary btn-sm">Gönderi Durumu</button>
                                </div>
                            </div>
                        </div>
                        <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">
                            <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/p13.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Fahrettin GÖKTAŞ</div>
                                    <div class="small text-gray-500">Fırat Üniversitesi</div>
                                </div>
                                <span class="ml-auto small">3 hours</span>
                            </div>
                            <div class="p-3 border-bottom osahan-post-body">
                                <p class="mb-0">Fakültemiz URAP 2020-2021 Dünya Alan Sıralamasında Mühendislik Alanında Ülkemiz Üniversiteleri Arasında 7. sırada yer aldı.
                                    <a href="#"></a>
                                </p>
                            </div>
                            <div class="p-3 border-bottom osahan-post-footer">
                                <a href="#" class="mr-3 text-secondary">
                                    <i class="feather-heart text-danger"></i>
                                    16</a>
                                <a href="#" class="mr-3 text-secondary">
                                    <i class="feather-message-square"></i>
                                    8</a>
                                <a href="#" class="mr-3 text-secondary">
                                    <i class="feather-share-2"></i>
                                    2</a>
                            </div>
                            <div class="p-3">
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1">Awesome!!</button>
                                <button type="button" class="btn btn-light btn-sm mr-1">😍</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm mr-1">Whats it about?</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm mr-1">Oooo Great Wow</button>
                            </div>
                        </div>
                        <div class="mb-3 shadow-sm rounded box bg-white osahan-slider-main">
                            <div class="osahan-slider">
                                <div class="osahan-slider-item">
                                    <a href="job-profile.html">
                                        <div class="shadow-sm border rounded bg-white job-item job-item mr-2 mt-3 mb-3">
                                            <div class="d-flex align-items-center p-3 job-item-header">
                                                <div class="overflow-hidden mr-2">
                                                    <h6 class="font-weight-bold text-dark mb-0 text-truncate">UI/UX designer</h6>
                                                    <div class="text-truncate text-primary">Envato</div>
                                                    <div class="small text-gray-500">
                                                        <i class="feather-map-pin"></i>
                                                        India, Punjab</div>
                                                </div>
                                                <img class="img-fluid ml-auto" src="img/p13.png" alt="">
                                            </div>
                                            <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                                <div class="overlap-rounded-circle d-flex">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Ayşe DEMİR">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Faruk KIRAN">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="İlayda ERDEN">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Fatih ÇINAR">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Ayşe DEMİR">
                                                </div>
                                                <span class="font-weight-bold text-primary">18 Bağs</span>
                                            </div>
                                            <div class="p-3 job-item-footer">
                                                <small class="text-gray-500">
                                                    <i class="feather-clock"></i>
                                                    Posted 3 Days ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="osahan-slider-item">
                                    <a href="job-profile.html">
                                        <div class="shadow-sm border rounded bg-white job-item job-item mr-2 mt-3 mb-3">
                                            <div class="d-flex align-items-center p-3 job-item-header">
                                                <div class="overflow-hidden mr-2">
                                                    <h6 class="font-weight-bold text-dark mb-0 text-truncate">.NET Developer</h6>
                                                    <div class="text-truncate text-primary">Invision</div>
                                                    <div class="small text-gray-500">
                                                        <i class="feather-map-pin"></i>
                                                        London, UK
                                                    </div>
                                                </div>
                                                <img class="img-fluid ml-auto" src="img/p13.png" alt="">
                                            </div>
                                            <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                                <div class="overlap-rounded-circle d-flex">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Ayşe DEMİR">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Faruk KIRAN">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="İlayda ERDEN">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Fatih ÇINAR">
                                                </div>
                                                <span class="font-weight-bold text-primary">18 Bağs</span>
                                            </div>
                                            <div class="p-3 job-item-footer">
                                                <small class="text-gray-500">
                                                    <i class="feather-clock"></i>
                                                    Posted 3 Days ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="osahan-slider-item">
                                    <a href="job-profile.html">
                                        <div class="shadow-sm border rounded bg-white job-item job-item mr-2 mt-3 mb-3">
                                            <div class="d-flex align-items-center p-3 job-item-header">
                                                <div class="overflow-hidden mr-2">
                                                    <h6 class="font-weight-bold text-dark mb-0 text-truncate">Channel Sales Director</h6>
                                                    <div class="text-truncate text-primary">Slack Inc.</div>
                                                    <div class="small text-gray-500">
                                                        <i class="feather-map-pin"></i>
                                                        London, UK
                                                    </div>
                                                </div>
                                                <img class="img-fluid ml-auto" src="img/l7.png" alt="">
                                            </div>
                                            <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                                <div class="overlap-rounded-circle d-flex">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Ayşe DEMİR">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Faruk KIRAN">
                                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="İlayda ERDEN">
                                                </div>
                                                <span class="font-weight-bold text-primary">18 Bağs</span>
                                            </div>
                                            <div class="p-3 job-item-footer">
                                                <small class="text-gray-500">
                                                    <i class="feather-clock"></i>
                                                    Posted 3 Days ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="box mb-3 shadow-sm border rounded bg-white osahan-post">
                            <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/p13.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Kaan BAYAR</div>
                                    <div class="small text-gray-500">Web Developer @Google</div>
                                </div>
                                <span class="ml-auto small">3 hours</span>
                            </div>
                            <div class="p-3 border-bottom osahan-post-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, perferendis.<a href="#">laboris consequat.</a>
                                </p>
                                <img src="img/p13.png" class="img-fluid" alt="Responsive image">
                            </div>
                            <div class="p-3 border-bottom osahan-post-footer">
                                <a href="#" class="mr-3 text-secondary">
                                    <i class="feather-heart text-danger"></i>
                                    16</a>
                                <a href="#" class="mr-3 text-secondary">
                                    <i class="feather-message-square"></i>
                                    8</a>
                                <a href="#" class="mr-3 text-secondary">
                                    <i class="feather-share-2"></i>
                                    2</a>
                            </div>
                            <div class="p-3 d-flex align-items-top border-bottom osahan-post-comment">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/p13.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">
                                        James Spiegel
                                        <span class="float-right small">2 min</span>
                                    </div>
                                    <div class="small text-gray-500">Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum quia dolor sit amet, consectetur</div>
                                </div>
                            </div>
                            <div class="p-3">
                                <textarea placeholder="Add Comment..." class="form-control border-0 p-0 shadow-none" rows="1"></textarea>
                            </div>
                        </div>
                    </main>
                    <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                        <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                            <div class="py-4 px-3 border-bottom">
                                <img src="img/p13.png" class="img-fluid mt-2 rounded-circle" alt="Responsive image">
                                <h5 class="font-weight-bold text-dark mb-1 mt-4">Hakan TAŞ</h5>
                                <p class="mb-0 text-muted">Web Developer</p>
                            </div>
                            <div class="d-flex">
                                <div class="col-6 border-right p-3">
                                    <h6 class="font-weight-bold text-dark mb-1">358</h6>
                                    <p class="mb-0 text-black-50 small">Bağs</p>
                                </div>
                                <div class="col-6 p-3">
                                    <h6 class="font-weight-bold text-dark mb-1">85</h6>
                                    <p class="mb-0 text-black-50 small">Views</p>
                                </div>
                            </div>
                            <div class="overflow-hidden border-top">
                                <a class="font-weight-bold p-3 d-block" href="profile.html">
                                    Profilimi Görüntüle
                                </a>
                            </div>
                        </div>
                        <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">

                            <div class="d-flex text-center"></div>
                        </div>
                        <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                            <img src="img/p13.png" class="img-fluid" alt="Responsive image">
                            <div class="p-3 border-bottom">
                                <h6 class="font-weight-bold text-dark">Osahan Solutions</h6>
                                <p class="mb-0 text-muted">Looking for talent?</p>
                            </div>
                            <div class="p-3">
                                <button type="button" class="btn btn-outline-primary pl-4 pr-4">
                                    POST A JOB
                                </button>
                            </div>
                        </div>
                    </aside>
                    <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="box shadow-sm border rounded bg-white mb-3">
                            <div class="box-title border-bottom p-3">
                                <h6 class="m-0">Tanıyor Olabileceğin İnsanlar</h6>
                            </div>
                            <div class="box-body p-3">
                                <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/p13.png" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold mr-2">
                                        <div class="text-truncate">Ayşe DEMİR</div>
                                        <div class="small text-gray-500">Fırat Üniversitesi</div>
                                    </div>
                                    <span class="ml-auto">
                                        <button type="button" class="btn btn-light btn-sm">
                                            <i class="feather-user-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/p13.png" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold mr-2">
                                        <div class="text-truncate">Faruk KIRAN</div>
                                        <div class="small text-gray-500">Fırat Üniversitesi
                                        </div>
                                    </div>
                                    <span class="ml-auto">
                                        <button type="button" class="btn btn-light btn-sm">
                                            <i class="feather-user-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/p13.png" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold mr-2">
                                        <div class="text-truncate">İlayda ERDEN</div>
                                        <div class="small text-gray-500">Fırat Üniversitesi
                                        </div>
                                    </div>
                                    <span class="ml-auto">
                                        <button type="button" class="btn btn-light btn-sm">
                                            <i class="feather-user-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/p13.png" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold mr-2">
                                        <div class="text-truncate">Fatih ÇINAR</div>
                                        <div class="small text-gray-500">Fırat Üniversitesi
                                        </div>
                                    </div>
                                    <span class="ml-auto">
                                        <button type="button" class="btn btn-light btn-sm">
                                            <i class="feather-user-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="d-flex align-items-center osahan-post-header people-list">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/p13.png" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold mr-2">
                                        <div class="text-truncate">Hamza BAL</div>
                                        <div class="small text-gray-500">Fırat Üniversitesi</div>
                                    </div>
                                    <span class="ml-auto">
                                        <button type="button" class="btn btn-light btn-sm">
                                            <i class="feather-user-plus"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="box shadow-sm border rounded bg-white mb-3">
                            <div class="box-title border-bottom p-3 d-flex align-items-center">
                                <h6 class="m-0">Fotoğraflar</h6>
                                <a class="ml-auto" href="#">Hepsini Gör<i class="feather-chevron-right"></i>
                                </a>
                            </div>
                            <div class="box-body p-3">
                                <div class="gallery-box-main">
                                    <div class="gallery-box">
                                        <img class="img-fluid" src="img/p13.png" alt="">
                                        <img class="img-fluid" src="img/p13.png" alt="">
                                        <img class="img-fluid" src="img/p13.png" alt="">
                                    </div>
                                    <div class="gallery-box">
                                        <img class="img-fluid" src="img/p13.png" alt="">
                                        <img class="img-fluid" src="img/p13.png" alt="">
                                        <img class="img-fluid" src="img/p13.png" alt="">
                                    </div>
                                    <div class="gallery-box">
                                        <img class="img-fluid" src="img/p13.png" alt="">
                                        <img class="img-fluid" src="img/p13.png" alt="">
                                        <img class="img-fluid" src="img/p13.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
                            <img src="img/p13.png" class="img-fluid" alt="Responsive image">
                            <div class="p-3 border-bottom">
                                <h6 class="font-weight-bold text-gold">Osahanin Premium</h6>
                                <p class="mb-0 text-muted">Grow & nurture your network</p>
                            </div>
                            <div class="p-3">
                                <button type="button" class="btn btn-outline-gold pl-4 pr-4">
                                    ACTIVATE
                                </button>
                            </div>
                        </div>
                        <div class="box shadow-sm border rounded bg-white mb-3">
                            <div class="box-title border-bottom p-3">
                                <h6 class="m-0">İşler
                                </h6>
                            </div>
                            <div class="box-body p-3">
                                <a href="job-profile.html">
                                    <div class="shadow-sm border rounded bg-white job-item mb-3">
                                        <div class="d-flex align-items-center p-3 job-item-header">
                                            <div class="overflow-hidden mr-2">
                                                <h6 class="font-weight-bold text-dark mb-0 text-truncate">Product Director</h6>
                                                <div class="text-truncate text-primary">Spotify Inc.</div>
                                                <div class="small text-gray-500">
                                                    <i class="feather-map-pin"></i>
                                                    India, Punjab</div>
                                            </div>
                                            <img class="img-fluid ml-auto" src="img/l3.png" alt="">
                                        </div>
                                        <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                            <div class="overlap-rounded-circle">
                                                <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Ayşe DEMİR">
                                                <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Faruk KIRAN">
                                                <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="İlayda ERDEN">
                                                <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Fatih ÇINAR">
                                            </div>
                                            <span class="font-weight-bold text-muted">18 Bağs</span>
                                        </div>
                                        <div class="p-3 job-item-footer">
                                            <small class="text-gray-500">
                                                <i class="feather-clock"></i>
                                                Posted 3 Days ago</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="job-profile.html">
                                    <div class="shadow-sm border rounded bg-white job-item">
                                        <div class="d-flex align-items-center p-3 job-item-header">
                                            <div class="overflow-hidden mr-2">
                                                <h6 class="font-weight-bold text-dark mb-0 text-truncate">.NET Developer</h6>
                                                <div class="text-truncate text-primary">Invision</div>
                                                <div class="small text-gray-500">
                                                    <i class="feather-map-pin"></i>
                                                    London, UK
                                                </div>
                                            </div>
                                            <img class="img-fluid ml-auto" src="img/l4.png" alt="">
                                        </div>
                                        <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                            <div class="overlap-rounded-circle">
                                                <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Ayşe DEMİR">
                                                <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Faruk KIRAN">
                                                <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Fatih ÇINAR">
                                            </div>
                                            <span class="font-weight-bold text-muted">18 Bağs</span>
                                        </div>
                                        <div class="p-3 job-item-footer">
                                            <small class="text-gray-500">
                                                <i class="feather-clock"></i>
                                                Posted 3 Days ago</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <script src="vendor/jquery/jquery.min.js" type="3780eafa2148ab0f5a206752-text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" type="3780eafa2148ab0f5a206752-text/javascript"></script>

        <script type="3780eafa2148ab0f5a206752-text/javascript" src="vendor/slick/slick.min.js"></script>

        <script src="js/osahan.js" type="3780eafa2148ab0f5a206752-text/javascript"></script>
        <script src="../../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="3780eafa2148ab0f5a206752-|49" defer=""></script>
        <script defer="" src="../../../beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6f1a90483df192d1","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
    </body>

</html>
